body{
font-family: "Comic Sans MS", "Comic Sans", cursive;
font-size:25px;
color:white;
background:black;
text-align:center;
}
#wrapper{
position:relative;
height:80%;
width:80%;
background:#ffa0ee;
color:white;
justify-content:center;
margin:0;
}
