body{
font-family: "Comic Sans MS", "Comic Sans", cursive;
font-size:25px;
color:white;
background:rgb(63, 10, 84);
text-align:center;
}
#wrapper{
position:relative;
height:50%;
width:80%;
background:#8142f5;
background-image:url("casa.jpg");
background-size:cover;
background-repeat:no-repeat;
color:white;
justify-content:center;
margin-left:10%;
padding-top:10%;
}
button{
background:darkblue;
border-radius:0%;
border-color:black;
border-width:2%;
color:white;
font-size:20px;
}
